@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;
@model IEnumerable<ibillcraft.Models.InboxEmailModel>
@{

    ViewData["Title"] = "Inbox Email";
    ViewBag.Header = "Inbox Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/jsfiles/inboxemail/inboxemailjs.js"></script>
<link href="~/css/emailview.css" rel="stylesheet" />


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="m-0 font-weight-bold text-primary">@Localizer["Inbox"]</h2>
            </div>
            <div class="col-md-2 justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-0 mt-3">
                <input type="text" id="custom-search" class="form-control" placeholder="@Localizer["Search"]" />
            </div>
            <div class="col-auto d-flex flex-wrap toggle">
                <button class="btn btn-md text-light bg-primary mt-3 mt-lg-0 mt-md-0 ml-2" onclick="return filter()"
                        type="button" title="Filter">
                    <i class="fa-solid fa-filter"></i>
                </button>
            </div>
            <div class="col-auto d-flex flex-wrap toggle">
                <a class="btn btn-md text-light float-end bg-success mt-3 mt-lg-0 mt-md-0 ml-2" onclick="fetchemail()"
                   title="Sync" type="button">
                    <i class="fas fa-sync-alt" style="font-size:18px"></i>
                </a>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="tabMenu" role="tablist">
        <li class="nav-item">
            <button class="nav-link" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" onclick="return clienttab()">
                Client
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="enquiry-tab" data-bs-toggle="tab" data-bs-target="#enquiry" type="button" role="tab"
                    aria-controls="enquiry" onclick="return enquirytab()">
                Enquiry
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="claim-tab" data-bs-toggle="tab" data-bs-target="#claim" type="button" role="tab" aria-controls="claim"
                    onclick="return claimtab()">
                Claim
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" onclick="return generaltab()">
                General
            </button>
        </li>
    </ul>


    <div class="row align-items-center" id="clientnodiv" style="padding-top:20px">
        <div class="col-lg-1 col-md-1">
            <label for="name" class="form-label float-lg-end">@Localizer["Client No"]:</label>
        </div>
        <div class="col-md-2 justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-0 mt-3">
            <select id="clientdropdown" class="form-select" asp-items="@(new SelectList(ViewBag.clientno,"Id","Value"))" onchange="return clienttab()">
                <option value="">--Select Client No--</option>
            </select>
        </div>
    </div>


    @*start filter model*@

    <div class="modal fade" id="addfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display:none">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark fw-bold" style="font-size: larger;" id="exampleModalLabel">Filter</h5>
                    <button type="button"
                            class="btn-close bg-danger modal-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark" style=" background-color: #f8f9fa;padding: 15px;border-radius: 8px;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label fw-bold" style="font-size: larger;" for="from">From</label>
                                <span style="padding-left:40px"><input type="text" class="form-control" id="i_from" style="font-size:medium" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label fw-bold" style="font-size: larger;" for="to">To</label>
                                <span style="padding-left:59px"><input type="text" class="form-control" id="i_to" value="" style="font-size:medium" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label fw-bold" style="font-size: larger;" for="subject">Subject</label>
                                <span style="padding-left:23px"><input type="text" class="form-control" id="i_subject" value="" style="font-size:medium" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label fw-bold" style="font-size: larger;" for="subject">Has the words</label>
                                <span style="padding-left:23px"><input type="text" class="form-control" id="i_hasthewords" value="" style="font-size:medium" /></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 ">
                            <div class="form-group form-group-sm">
                                <label class="control-label fw-bold" style="font-size: larger;" for="subject">Search</label>
                                <select class="form-select" id="i_tab">
                                    <option value="Client">Client</option>
                                    <option value="Enquiry">Enquiry</option>
                                    <option value="Claim">Claim</option>
                                    <option value="General">General</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button title="Save" type="submit" id="btnsubmit" value="Create" class="btn btn-primary" onclick="submitfilter()">@Localizer["Submit"]</button>
                    <button type="button" title="Close" class="btn btn-danger" data-dismiss="modal" onclick="CancelData()">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    @*end filter model*@

    @* Start view model *@
    <div class="modal fade" id="addSubscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" style="width:106%">
                <div class="modal-header">
                    <h5 class="modal-title text-dark fw-bold" style="font-size: larger;" id="exampleModalLabel">Email</h5>
                    <button type="button"
                            class="btn-close bg-danger modal-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark" style=" background-color: #f8f9fa;padding: 15px;border-radius: 8px;">
                    <div class="flex-container">
                        <div style="background-color: #4a4747;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);margin-bottom: 15px;padding: 15px;width: 11%;max-width: 800px;">
                            <div class="arrow-container" id="arrow-container">
                            </div>
                        </div>
                        <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);width: 800px">
                            <div class="form-group">
                                <h3>
                                    <label class="control-label fw-bold" style="font-size: larger;" for="subject">Subject :</label>
                                    <span style="padding-left:23px"><label id="ic_subjectlabel" value="" style="font-size:larger"></label></span>
                                </h3>
                            </div>

                            <div class="form-group">
                                <label class="control-label" style="font-weight:500;" for="from">From :</label>
                                <span style="padding-left:5px"><label id="ic_fromlabel" value="" style="font-size:medium;font-weight:500"></label></span>

                                <label class="" style="font-weight:500;padding-left: 10%;" for="to">To :</label>
                                <span style="padding-left:5px"><label id="ic_tolabel" value="" style="font-size:medium;font-weight:500"></label></span>

                                <div style="width: 100%; height: 1px; background-color: black; margin-top: 5px;"></div>

                            </div>



                            <div class="form-group">
                                <div id="ic_bodyhtml" style="font-size:medium;border:none"></div>
                            </div>

                            <div class="attachments" id="attachdiv" style="display: none;">
                                <button id="viewattachments" style="display: inline-block; padding: 8px;">
                                    <div id="filename"></div>
                                </button>
                                <button id="downloadbutton" style="display: inline-block; height: 42px; width: auto;">
                                    <div id="filebuttons2"></div>
                                </button>
                                <!-- New buttons will be added here -->
                                <div id="additionalButtons"></div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    @* End view model *@


    <div class="card-body">

        <div class="card-body" id="clientgeneral">
            <div class="table-responsive" id="print">
                <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:6%">Sr.No</th>
                            <th style="display:none">Id</th>
                            <th style="width: 12%">From</th>
                            <th style="width: 12%">To</th>
                            <th style="width:10%">Subject</th>
                            <th style=" width:4%">Attachment</th>
                            <th style="width: 12%">Date</th>
                            <td style="width:6%"></td>
                        </tr>
                    </thead>
                    <tbody id="clientgeneralbody">
                        @{
                            int itemNumber = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id)">@itemNumber</td>
                                <td style="display:none">
                                    @Html.DisplayFor(modelItem => item.i_id)
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    @Html.DisplayFor(modelItem => item.i_from)
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    @Html.DisplayFor(modelItem => item.i_to)
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    @Html.DisplayFor(modelItem => item.i_subject)
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    @if (item.i_attachment != null && item.i_attachment.ToString() != "No attachments available." && item.i_attachment.ToString() != "null")
                                    {
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    }
                                    else
                                    { }
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    @Html.DisplayFor(modelItem => item.i_receiveddate)
                                </td>
                                <td onclick="inboxmsg(@Html.DisplayFor(modelItem => item.i_id))">
                                    <i class="fas fa-eye text-primary"></i>
                                </td>
                            </tr>
                            itemNumber++;
                        }
                    </tbody>
                </table>
            </div>

            <!-- start Pagination-->
            <div class="row mt-3">
                <div class="col-lg-5 col-md-5 col-12 ">
                    <div class="row ">
                        <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-lg-start justify-content-md-start justify-content-center ">
                            <h6 class="mt-2"> @Localizer["Show"]</h6>&nbsp;&nbsp;
                            <select name="table_id_length" id="table_length_select" aria-controls="table_id" class="form-select w-auto">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            &nbsp;&nbsp;
                            <h6 class="mt-2"> @Localizer["entries"]</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-5 col-md-5 col-12 mt-lg-0 mt-md-0 mt-3">
                    <nav aria-label="Page navigation example">
                        <div id="table_id_length">

                            <div id="custom-pagination" class=" d-flex text-center text-lg-end justify-content-end  text-end float-end">
                                <ul class="pagination justify-content-lg-end justify-content-md-end justify-content-center">
                                    <li class="page-item disabled">
                                        <button class="page-link" href="#" aria-label="Previous" data-page="0"> <span aria-hidden="true">&laquo;</span></button>
                                    </li>
                                    <li class="page-item active"><button class="page-link" href="#" data-page="1">1</button></li>

                                    <li class="page-item "><button class="page-link" href="#" data-page="2" aria-label="Next">  <span aria-hidden="true">&raquo;</span></button></li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- end Pagination-->
        </div>


        <div class="card-body" id="enquiryclaim">
            <div class="table-responsive" id="print">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="6%">Sr.No</th>
                            <th>Client Name</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody id="enquiryclaimbody">
                        @{
                            int itemNumber1 = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@itemNumber1</td>
                                <td>
                                    <a href="/InboxClient?email=@item.i_from&client=@item.i_fromname&tab=@item.i_type" class="text-primary">
                                        @Html.DisplayFor(modelItem => item.i_fromname)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.i_receiveddate)
                                </td>
                            </tr>
                            itemNumber1++;
                        }
                    </tbody>
                </table>
            </div>

            <!-- start Pagination-->
            <div class="row mt-3">
                <div class="col-lg-5 col-md-5 col-12 ">
                    <div class="row ">
                        <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-lg-start justify-content-md-start justify-content-center ">
                            <h6 class="mt-2"> @Localizer["Show"]</h6>&nbsp;&nbsp;
                            <select name="table_id_length" id="table_length_select" aria-controls="table_id" class="form-select w-auto">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            &nbsp;&nbsp;
                            <h6 class="mt-2"> @Localizer["entries"]</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-5 col-md-5 col-12 mt-lg-0 mt-md-0 mt-3">
                    <nav aria-label="Page navigation example">
                        <div id="table_id_length">

                            <div id="custom-pagination" class=" d-flex text-center text-lg-end justify-content-end  text-end float-end">
                                <ul class="pagination justify-content-lg-end justify-content-md-end justify-content-center">
                                    <li class="page-item disabled">
                                        <button class="page-link" href="#" aria-label="Previous" data-page="0"> <span aria-hidden="true">&laquo;</span></button>
                                    </li>
                                    <li class="page-item active"><button class="page-link" href="#" data-page="1">1</button></li>

                                    <li class="page-item "><button class="page-link" href="#" data-page="2" aria-label="Next">  <span aria-hidden="true">&raquo;</span></button></li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- end Pagination-->
        </div>

    </div>

</div>


<script>
    $(document).ready(function () {
        //  $('#dataTable1').DataTable();

        $("#custom-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tabtable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $("#custom-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();

            $("#enquiryclaimbody tr, #clientgeneralbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $("#client-tab").attr('aria-selected', 'true');
        $("#client-tab").attr('class', 'nav-link active');
        $("#enquiryclaim").css("display", "none");

    });
    myFunction();
    $('#table_length_select').change();
</script>