@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;
@model IEnumerable<ibillcraft.Models.SentClientModel>
@{

    ViewData["Title"] = "";
    ViewBag.Header = "";

    Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
    * {
        box-sizing: border-box;
    }

    .flex-container {
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .box {
        padding: 15px;
        border: 1px solid;
    }

        .box:first-child {
            flex: 2; /* First box will take twice the space compared to the second */
        }

        .box:nth-child(2) {
            flex: 1; /* Second box will take normal space */
        }

    .buttons {
        margin-top: 20px;
        padding-left: 40%;
    }

    .attachments, .conversation {
        margin-top: 20px;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="m-0 font-weight-bold text-primary">@Localizer["Email Sent"]</h2>
            </div>
            <div class="col-lg-1 col-md-1 ">
                <label for="name" class="form-label float-lg-end">@Localizer["Client Name"]:</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <select id="clientDropdown" class="form-select" placeholder="select type" asp-items="@(new SelectList(ViewBag.customer,"Id","Value"))" onchange="return clientchange()">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-md-2 justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-0 mt-3">
                <input type="text" id="custom-search" class="form-control" placeholder="@Localizer["Search"]" />
            </div>

        </div>
    </div>

    <ul class="nav nav-tabs" id="tabMenu" role="tablist">
        <li class="nav-item">
            <button class="nav-link" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" onclick="return clienttab()">
                Client
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="enquiry-tab" data-bs-toggle="tab" data-bs-target="#enquiry" type="button" role="tab" aria-controls="enquiry" onclick="return enquirytab()">
                Enquiry
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="claim-tab" data-bs-toggle="tab" data-bs-target="#claim" type="button" role="tab" aria-controls="claim" onclick="return claimtab()">
                Claim
            </button>
        </li>
    @*     <li class="nav-item">
            <button class="nav-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" onclick="return generaltab()">
                General
            </button>
        </li> *@
    </ul>

    <div class="card-body">
        <div class="table-responsive" id="print">
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="6%">@Localizer["Sr.No"]</th>
                        <th style="display:none">to</th>
                        <th style="display:none">toemail</th>
                        <th>@Localizer["Year"]</th>
                        <th>@Localizer["Count"]</th>
                    </tr>
                </thead>
                <tbody id="tbodyid">
                    @{
                        int itemNumber = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@itemNumber</td>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.sc_to)</td>
                            <td style="display:none"> @Html.DisplayFor(modelItem => item.sc_toname)</td>
                            <td onclick="show('@item.sc_year.Substring(0, 4)', '@item.sc_toname', '@item.sc_to')">
                                @Html.DisplayFor(modelItem => item.sc_year)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.sc_count)
                            </td>
                        </tr>
                        itemNumber++;
                    }
                </tbody>
            </table>
        </div>

        <div class="card-header py-3" style="display:none" id="detailsgridname">
            <div class="row align-items-center">
                <div class="col-lg-1 col-md-1 ">
                    <label for="name" class="form-label float-lg-end">@Localizer["Client Name"]:</label>
                </div>
                <div class="col-lg-2 col-md-2">
                    <select id="clientDropdown1" class="form-select" placeholder="select type" asp-items="@(new SelectList(ViewBag.customer,"Id","Value"))" onchange="return clientchange1()">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div style="display:none">
                    <input type="text" id="sc_to" value="@ViewBag.sc_to" />
                    <input type="text" id="sc_toemail" value="@ViewBag.sc_toemail" />
                    <input type="text" id="sc_email" value="@ViewBag.sc_email" />
                </div>
                <div class="col-lg-1 col-md-1 ">
                    <label for="name" class="form-label float-lg-end">@Localizer["Year"]:</label>
                </div>
                <div class="col-md-2 justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-0 mt-3">
                    <select id="yearDropdown" class="form-select">
                        <option value="">--Select Year--</option>
                        <option value="2024">2024</option>
                        <!-- You can dynamically add more options here if needed -->
                    </select>
                </div>
                <div class="col-lg-1 col-md-1 " style="padding-left:10%">
                    <button class="btn btn-md text-light bg-primary mt-3 mt-lg-0 mt-md-0 ml-2" onclick="return filter()"
                            type="button" title="Filter">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </div>

            </div>
        </div>

        <div id="detailsGrid" class="table-responsive" style="display:none">
            <h5 style="display:none">Details for Year: <span id="selectedYear">2024</span></h5>
            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th style="display:none">Id</th>
                        <th>To</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th style="display:none">Attachment</th>
                        <td>View</td>
                    </tr>
                </thead>
                <tbody id="detailsTableBody">
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="addfilter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" style="display:none">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark fw-bold" style="font-size: larger;" id="exampleModalLabel">Filter</h5>
                        <button type="button"
                                class="btn-close bg-danger modal-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-dark" style=" background-color: #f8f9fa;padding: 15px;border-radius: 8px;">
                        <div class="flex-container">
                            @*  <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);"> *@
                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="from">From</label>
                                <span style="padding-left:40px"><input type="text" class="form-control" id="s_from" style="font-size:medium" /></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="to">To</label>
                                <span style="padding-left:59px"><input type="text" class="form-control" id="s_to" value="" style="font-size:medium" /></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="subject">Subject</label>
                                <span style="padding-left:23px"><input type="text" class="form-control" id="s_subject" value="" style="font-size:medium" /></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="hasthewords">Has the words</label>
                                <span style="padding-left:23px"><input type="text" class="form-control" id="s_hasthewords" value="" style="font-size:medium" /></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="year">Year</label>
                                <span style="padding-left:23px">
                                    <select id="yearDropdown1" class="form-select">
                                        <option value="">--Select Year--</option>
                                        <option value="2024">2024</option>
                                    </select>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label fw-bold" style="font-size: larger;" for="subject">Search</label>
                                <select class="form-select" id="s_tab">
                                    <option value="client">Client</option>
                                    <option value="enquiry">Enquiry</option>
                                    <option value="claim">Claim</option>>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button title="Save" type="submit" id="btnsubmit" value="Create" class="btn btn-primary" onclick="submitfilter()">@Localizer["Submit"]</button>
                        <button type="button" title="Close" class="btn btn-danger" data-dismiss="modal" onclick="CancelData()">@Localizer["Cancel"]</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addSubscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark fw-bold" style="font-size: larger;" id="exampleModalLabel">Email</h5>
                        <button type="button"
                                class="btn-close bg-danger modal-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-dark" style=" background-color: #f8f9fa;padding: 15px;border-radius: 8px;">
                        <div class="flex-container">
                            <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
                                <div class="form-group">
                                    <label class="control-label fw-bold" style="font-size: larger;" for="from">From:</label>
                                    <span style="padding-left:40px"><label id="sc_fromlabel" value="" style="font-size:medium"></label></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label fw-bold" style="font-size: larger;" for="to">To:</label>
                                    <span style="padding-left:59px"><label id="sc_tolabel" value="" style="font-size:medium"></label></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label fw-bold" style="font-size: larger;" for="subject">Subject:</label>
                                    <span style="padding-left:23px"><label id="sc_subjectlabel" value="" style="font-size:medium"></label></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label fw-bold" for="message" style="display: inline-block; vertical-align: top; margin-right: 10px;font-size: larger;">Message:</label>
                                    <textarea rows="20" cols="85" readonly id="sc_bodylabel" style="font-size:medium"></textarea>
                                </div>

                            </div>
                            <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
                                <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);height:50%">
                                    <div class="attachments">
                                        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th colspan="3" style="text-align: left; padding: 10px; font-size: larger; font-weight: bold; border: 1px solid #ddd;">
                                                        Attachments:
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="viewattachments">
                                                <tr style=" border: 1px solid #ddd;">
                                                    <td style="padding: 8px;" id="filename"></td>
                                                    <td style="text-align: center;" id="filebuttons1">
                                                        @* <a href="~/images/sample data/sample.pdf" title="View PDF">
                                                            <i class="fas fa-eye" style="font-size: 16px; color: blue;"></i>
                                                        </a> *@
                                                    </td>
                                                    <td style="text-align: center;" id="filebuttons2">
                                                       @*  <a href="~/images/sample data/sample.pdf" download="sample.pdf" title="Download PDF">
                                                            <i class="fas fa-download" style="font-size: 16px; color: green;"></i>
                                                        </a> *@
                                                    </td>
                                                </tr>
                                                @* <tr style=" border: 1px solid #ddd;">
                                                    <td style="padding: 8px; ">file1.zip</td>
                                                    <td style="text-align: center; ">
                                                        <a href="~/images/sample data/samplezip.zip" title="View ZIP">
                                                            <i class="fas fa-eye" style="font-size: 16px; color: blue;"></i>
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <a href="~/images/sample data/samplezip.zip" download="samplezip.zip" title="Download ZIP">
                                                            <i class="fas fa-download" style="font-size: 16px; color: green;"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr style=" border: 1px solid #ddd;">
                                                    <td style="padding: 8px;">file1.png</td>
                                                    <td style="text-align: center;">
                                                        <a href="~/images/sample data/sampleimage.png" title="View Image">
                                                            <i class="fas fa-eye" style="font-size: 16px; color: blue;"></i>
                                                        </a>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <a href="~/images/sample data/sampleimage.png" download="sampleimage.png" title="Download Image">
                                                            <i class="fas fa-download" style="font-size: 16px; color: green;"></i>
                                                        </a>
                                                    </td>
                                                </tr> *@
                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="box" style="background-color: #ffffff;border: 1px solid #ddd;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);height:50%">
                                    <div class="conversation">
                                        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                                            <thead>
                                                <tr>
                                                    <th colspan="3" style="text-align: left; padding: 10px; font-size: larger; font-weight: bold; border: 1px solid #ddd;">
                                                        Conversation:
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style=" border: 1px solid #ddd;">
                                                    <td class="conversation-item" style="padding: 8px;">  <i class="fas fa-paper-plane" style="color: blue; font-size: 16px;" title="Sent"></i></td>
                                                    <td style="text-align:left;">
                                                        29/09/2024
                                                    </td>
                                                </tr>
                                                <tr style=" border: 1px solid #ddd;">
                                                    <td class="conversation-item" style="padding: 8px;">  <i class="fas fa-envelope" style="color: green; font-size: 16px;" title="Received"></i></td>
                                                    <td style="text-align: left;">
                                                        30/09/2024
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>



                            </div>


                        </div>

                        <div class="buttons">
                            <button class="btn btn-danger" onclick="CancelData()" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- End Griddata-->
        <!-- start Pagination-->
        <div class="row mt-3">
            <div class="col-lg-5 col-md-5 col-12 ">
                <div class="row ">
                    <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-lg-start justify-content-md-start justify-content-center ">
                        <h6 class="mt-2"> @Localizer["Show"]</h6>&nbsp;&nbsp;
                        <select name="table_id_length" id="table_length_select" aria-controls="table_id" class="form-select w-auto">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        &nbsp;&nbsp;
                        <h6 class="mt-2"> @Localizer["entries"]</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-5 col-md-5 col-12 mt-lg-0 mt-md-0 mt-3">
                <nav aria-label="Page navigation example">
                    <div id="table_id_length">

                        <div id="custom-pagination" class=" d-flex text-center text-lg-end justify-content-end  text-end float-end">
                            <ul class="pagination justify-content-lg-end justify-content-md-end justify-content-center">
                                <li class="page-item disabled">
                                    <button class="page-link" href="#" aria-label="Previous" data-page="0"> <span aria-hidden="true">&laquo;</span></button>
                                </li>
                                <li class="page-item active"><button class="page-link" href="#" data-page="1">1</button></li>

                                <li class="page-item "><button class="page-link" href="#" data-page="2" aria-label="Next">  <span aria-hidden="true">&raquo;</span></button></li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end Pagination-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable1').DataTable();
    });
    myFunction();
    $('#table_length_select').change();

    $(document).ready(function () {
        // Extract URL parameters
        var urlParams = new URLSearchParams(window.location.search);
        var client = urlParams.get('client');


        // Match the text in the dropdown options and set the value
        if (client) {
            $('#clientDropdown option').each(function () {
                if ($(this).text() == client) {
                    $('#clientDropdown').val($(this).val());
                    $('#clientDropdown1').val($(this).val());
                }
            });
        }
        var tab = urlParams.get('tab');

        if (tab == "Insurance") {
            tab = "client";
        }
        $('#' + tab + '-tab').attr('class', 'nav-link active');

    });


    function show(sc_year, sc_toname, sc_to) {

        var urlParams = new URLSearchParams(window.location.search);

        var tab = urlParams.get('tab');

        $('#detailsgridname').css('display', 'block');
        $('#yearDropdown').val(sc_year);
        var data = {
            sc_year: sc_year, // Use the provided `sc_year` parameter
            sc_toname: sc_toname,
            sc_to: sc_to,
            tab: tab,

        };

        $.ajax({
            url: '/SentClient/fetchdetails', // Controller action URL
            type: 'POST',             // HTTP method
            data: data,
            // Data to send (query parameter)
            success: function (response) {
                // Handle success - update the page dynamically
                console.log('Response:', response);
                $('#detailsTableBody').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_id + '</td>';
                    htmltab += '<td>' + response[i].sc_toname + '</td>';
                    htmltab += '<td>' + response[i].sc_subject + '</td>';
                    htmltab += '<td>' + response[i].sc_sentdate + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_attachment + '</td>';
                    //htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg('+response[i].sc_toemail+')"></i></td>';
                    htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg(' + response[i].sc_id + ')"></i></td>';

                    htmltab += '</tr>';


                }
                $('#detailsTableBody').html(htmltab);

                // Example: Update a specific section with the response data
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });


        $('#detailsGrid').css('display', 'block');
        $('#detailsTableBody').css('display', 'contents');
    }

    function inboxmsg(id) {

        // Show the modal
        $("#addSubscription").modal("show");

        // Data payload for the request
        var data = { id: id };

        // Perform AJAX POST request
        $.ajax({
            url: '/SentClient/showdetails', // Controller action URL
            type: 'POST',                   // HTTP method
            data: data,                     // Data to send
            success: function (response) {
                console.log(response);

                if (response) {

                    if (response.sc_attachment != "") {
                        const fileName = response.sc_attachment.split(/[/\\]/).pop();
                        $('#filename').text(fileName);

                        const buttons1 = `<a href="" title="View PDF" onclick="viewfile()"><i class="fas fa-eye" style="font-size: 16px; color: blue;"></i></a>`;
                        const buttons2 = `<a href="${response.sc_attachment}" title="Download PDF" onclick="downloadfile()"><i class="fas fa-download" style="font-size: 16px; color: green;"></i></a>`;

                        $('#filebuttons1').html(buttons1);
                        $('#filebuttons1').val(response.sc_attachment);
                        $('#filebuttons2').html(buttons2);
                        $('#filebuttons2').val(response.sc_attachment);
                    } else {
                        $('#viewattachments').css('display:none');
                    }
                    $('#sc_tolabel').text(response.sc_to || 'N/A');
                    $('#sc_fromlabel').text(response.sc_from || 'N/A');
                    $('#sc_subjectlabel').text(response.sc_subject || 'N/A');

                    const formattedBody = (response.sc_body || '').replace(/<br\s*\/?>/gi, "\n");
                    $('#sc_bodylabel').val(formattedBody);

                    // Optional: Update a specific content area with additional information
                    $('#content-area').html(response.content || 'No content available.');
                } else {
                    console.error('Empty response received');
                    // alert('No data available.');
                }
            },
            error: function (xhr, status, error) {
                // Display error notification
                console.error('Error:', error);
                alert('An error occurred while fetching the message details. Please try again later.');
            }
        });
    }

    function downloadfile() {
        const filePath = $('#filebuttons2').val();

        // Encode the file path to make it safe for URLs
        const encodedPath = encodeURIComponent(filePath);

        // Construct the URL to call the controller
        const url = `/SentClient/DownloadFile?filePath=${encodedPath}`;

        // Open the file in a new tab or start downloading
        window.open(url, "_blank");
    }
    function viewfile() {
        const filePath = $('#filebuttons1').val();

        // Encode the file path to make it safe for URLs
        const encodedPath = encodeURIComponent(filePath);

        // Construct the URL to call the controller
        const url = `/SentClient/ViewFile?filePath=${encodedPath}`;

        // Open the file in a new tab or start downloading
        window.open(url, "_blank");
    }

    function CancelData() {
        $("#addSubscription").modal("hide");
    }

    // function clientchange() {
    //     $('#detailsgridname').css('display', 'none');
    //     $('#detailsGrid').css('display', 'none');

    //     var urlParams = new URLSearchParams(window.location.search);
    //     var tab = urlParams.get('tab');

    //     var clientid = $('#clientDropdown').val();
    //     var data = {
    //         clientid: clientid,
    //         tab: tab,
    //     };

    //     $.ajax({
    //         url: '/SentClient/Clientchange', // Controller action URL
    //         type: 'POST',             // HTTP method
    //         data: data,
    //         // Data to send (query parameter)
    //         success: function (response) {
    //             console.log(response);
    //             // Handle success - update the page dynamically


               
    //             $('#tbodyid').html('');
    //             var htmltab = '';

    //             for (var i = 0; i < response.length; i++) {
    //                 htmltab += '<tr>';
    //                 htmltab += '<td>' + (i + 1) + '</td>';
    //                 htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
    //                 htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
    //                 //htmltab += '<td onclick=show('+response[i].sc_year+','+response[i].sc_toemail+','+response[i].sc_email+')>' + response[i].sc_year + '</td>';
    //                 htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';

    //                 htmltab += '<td>' + response[i].sc_count + '</td>';
    //                 htmltab += '</tr>';

    //                 // Update the query parameter in the URL
                   
    //                 var sc_to = response[i].sc_to;
    //                 var sc_toname = response[i].sc_toname;
    //                 if (response[i].sc_to==''){
    //                     var sc_to = "";
    //                     var sc_toname = "";
    //                 }


    //                 // var sc_to = response[i].sc_to; // Fetch `sc_to` from input field
    //                 // var sc_toemail = response[i].sc_toemail; // Fetch `sc_to` from input field
    //             }

    //              window.location.search = '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab;
                  

    //             $('#tbodyid').html(htmltab);

    //             // var dropdownvalue = $('#clientDropdown').val();
    //             // $('#clientDropdown1').val(dropdownvalue);

               


    //             // Example: Update a specific section with the response data
    //             $('#content-area').html(response);

    //         },
    //         error: function (xhr, status, error) {
    //             // Handle errors
    //             console.error('Error:', error);
    //         }
    //     });
    //     var client = $('#clientDropdown').val();

    //     // Match the text in the dropdown options and set the value
    //     if (client) {
    //         $('#clientDropdown option').each(function () {
    //             if ($(this).val() == client) {
    //                 $('#clientDropdown').val($(this).val());
    //                 $('#clientDropdown1').val($(this).val());
    //             }
    //         });
    //     }
    // }


    function clientchange() {
        $('#detailsgridname').css('display', 'none');
        $('#detailsGrid').css('display', 'none');

        var urlParams = new URLSearchParams(window.location.search);
        var tab = urlParams.get('tab');

        var clientid = $('#clientDropdown').val();
        var data = {
            clientid: clientid,
            tab: tab,
        };

        $.ajax({
            url: '/SentClient/Clientchange', // Controller action URL
            type: 'POST',             // HTTP method
            data: data,
            success: function (response) {
                console.log(response);
                // Handle success - update the page dynamically

                $('#tbodyid').html('');
                var htmltab = '';

                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
                    htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';
                    htmltab += '<td>' + response[i].sc_count + '</td>';
                    htmltab += '</tr>';

                    // Prepare the URL parameters
                    var sc_to = response[i].sc_to;
                    var sc_toname = response[i].sc_toname;
                    if (response[i].sc_to == '') {
                        var sc_to = "";
                        var sc_toname = "";
                    }
                }

                // Update the URL without reloading the page
                history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);

                $('#tbodyid').html(htmltab);

                // Example: Update a specific section with the response data
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });

        var client = $('#clientDropdown').val();

        // Match the text in the dropdown options and set the value
        if (client) {
            $('#clientDropdown option').each(function () {
                if ($(this).val() == client) {
                    $('#clientDropdown').val($(this).val());
                    $('#clientDropdown1').val($(this).val());
                }
            });
        }
    }


    // function clientchange1() {
    //     $('#detailsgridname').css('display', 'none');
    //     $('#detailsGrid').css('display', 'none');

    //     var urlParams = new URLSearchParams(window.location.search);
    //     var tab = urlParams.get('tab');

    //     var clientid = $('#clientDropdown1').val();
    //     var data = {
    //         clientid: clientid,
    //         tab: tab,
    //     };

    //     $.ajax({
    //         url: '/SentClient/Clientchange1', // Controller action URL
    //         type: 'POST',             // HTTP method
    //         data: data,
    //         success: function (response) {
    //             console.log(response);
    //             $('#detailsgridname').css('display','content')
    //             $('#detailsTableBody').html('');
    //             var htmltab = '';
    //             for (var i = 0; i < response.length; i++) {
    //                 htmltab += '<tr>';
    //                 htmltab += '<td>' + (i + 1) + '</td>';
    //                 htmltab += '<td style="display:none">' + response[i].sc_id + '</td>';
    //                 htmltab += '<td>' + response[i].sc_toname + '</td>';
    //                 htmltab += '<td>' + response[i].sc_subject + '</td>';
    //                 htmltab += '<td>' + response[i].sc_sentdate + '</td>';
    //                 htmltab += '<td style="display:none">' + response[i].sc_attachment + '</td>';
    //                 //htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg('+response[i].sc_toemail+')"></i></td>';
    //                 htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg(' + response[i].sc_id + ')"></i></td>';

    //                 htmltab += '</tr>';

    //                 var sc_to = response[i].sc_to;
    //                     var sc_toname = response[i].sc_toname;
    //                     if (response[i].sc_to == '') {
    //                         var sc_to = "";
    //                         var sc_toname = "";
    //                     }
    //             }
    //            // history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);
    //             $('#detailsTableBody').html(htmltab);




    //             // Example: Update a specific section with the response data
    //             $('#content-area').html(response);
    //         },
    //         error: function (xhr, status, error) {
    //             // Handle errors
    //             console.error('Error:', error);
    //         }
    //     });

    //     var client = $('#clientDropdown1').val();

    //     // Match the text in the dropdown options and set the value
    //     if (client) {
    //         $('#clientDropdown1 option').each(function () {
    //             if ($(this).val() == client) {
    //                 $('#clientDropdown1').val($(this).val());
    //             }
    //         });
    //     }
    // }


    function clientchange1() {

        $('#detailsgridname').css('display', 'none');
        $('#detailsGrid').css('display', 'none');

        var urlParams = new URLSearchParams(window.location.search);
        var tab = urlParams.get('tab');

        $('#detailsgridname').css('display', 'block');
        $('#detailsGrid').css('display', 'block');

        var clientid = $('#clientDropdown1').val();
        var data = {
            clientid: clientid,
            tab: tab,
        };

        $.ajax({
            url: '/SentClient/Clientchange1', // Controller action URL
            type: 'POST',             // HTTP method
            data: data,
            success: function (response) {
                console.log(response);

                // If the response length is 0, do not update the table or URL
                if (response.length === 0) {
                    // alert("no data");
                    $('#detailsTableBody').html('');
                    return; // Exit the function early
                }

                // Make details grid visible when there is data
               
                $('#detailsTableBody').html('');  // Clear previous table content

                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_id + '</td>';
                    htmltab += '<td>' + response[i].sc_toname + '</td>';
                    htmltab += '<td>' + response[i].sc_subject + '</td>';
                    htmltab += '<td>' + response[i].sc_sentdate + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_attachment + '</td>';
                    htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg(' + response[i].sc_id + ')"></i></td>';
                    htmltab += '</tr>';                    
                }

                // Update the table body with new data
                $('#detailsTableBody').html(htmltab);

                // Example: Update a specific section with the response data (if any)
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });

        var client = $('#clientDropdown1').val();

        // Match the text in the dropdown options and set the value
        if (client) {
            $('#clientDropdown1 option').each(function () {
                if ($(this).val() == client) {
                    $('#clientDropdown1').val($(this).val());
                }
            });
        }
    }



    function clienttab() {
        var tab = "Insurance";

        $('#client-tab').attr('aria-selected', 'true');
        $('#enquiry-tab').attr('aria-selected', 'false');
        $('#claim-tab').attr('aria-selected', 'false');
        $('#general-tab').attr('aria-selected', 'false');

        $('#client-tab').attr('class', 'nav-link active');
        $('#enquiry-tab').attr('class', 'nav-link');
        $('#claim-tab').attr('class', 'nav-link');
        $('#general-tab').attr('class', 'nav-link');


        var urlParams = new URLSearchParams(window.location.search);
        var email = urlParams.get('email');

        var data = {
            email: email,
            tab: tab,
        };

        $.ajax({
            url: '/SentClient/Tab?email=' + email + '&tab=' + tab,
            type: 'POST',
            data: data,
            success: function (response) {
                console.log('Response:', response);
                $('#tbodyid').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
                    htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';
                    htmltab += '<td>' + response[i].sc_count + '</td>';
                    htmltab += '</tr>';

                    //window.location.search = '?email=' + response[i].sc_to + '&client=' + response[i].sc_toname + '&tab=' + tab;
                    history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);
                }
                $('#tbodyid').html(htmltab);
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function enquirytab() {
        var tab = "enquiry";

        $('#enquiry-tab').attr('aria-selected', 'true');
        $('#client-tab').attr('aria-selected', 'false');
        $('#claim-tab').attr('aria-selected', 'false');
        $('#general-tab').attr('aria-selected', 'false');

        $('#enquiry-tab').attr('class', 'nav-link active');
        $('#client-tab').attr('class', 'nav-link');
        $('#claim-tab').attr('class', 'nav-link');
        $('#general-tab').attr('class', 'nav-link');

        var urlParams = new URLSearchParams(window.location.search);
        var email = urlParams.get('email');

        var data = {
            email: email,
            tab: tab,
        };

        $.ajax({
            url: '/SentClient/Tab?email=' + email + '&tab=' + tab, // Controller action URL
            type: 'POST',             // HTTP method
            data: data,      // Data to send (query parameter)
            success: function (response) {
                // Handle success - update the page dynamically
                console.log('Response:', response);
                $('#tbodyid').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
                    htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';
                    htmltab += '<td>' + response[i].sc_count + '</td>';
                    htmltab += '</tr>';

                   // window.location.search = '?email=' + response[i].sc_to + '&client=' + response[i].sc_toname + '&tab=' + tab;
                    history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);
                }
                $('#tbodyid').html(htmltab);

                // Example: Update a specific section with the response data
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });
    }

    function claimtab() {
        var tab = "claim";
        $('#enquiry-tab').attr('aria-selected', 'false');
        $('#client-tab').attr('aria-selected', 'false');
        $('#claim-tab').attr('aria-selected', 'true');
        $('#general-tab').attr('aria-selected', 'true');

        var urlParams = new URLSearchParams(window.location.search);
        var email = urlParams.get('email');

        var data = {
            email: email,
            tab: tab,
        };

        $.ajax({
            url: '/SentClient/Tab?email=' + email + '&tab=' + tab, // Controller action URL
            type: 'POST',             // HTTP method
            data: data,      // Data to send (query parameter)
            success: function (response) {
                // Handle success - update the page dynamically
                console.log('Response:', response);
                $('#tbodyid').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
                    htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';
                    htmltab += '<td>' + response[i].sc_count + '</td>';
                    htmltab += '</tr>';

                   // window.location.search = '?email=' + response[i].sc_to + '&client=' + response[i].sc_toname + '&tab=' + tab;
                    history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);
                }
                $('#tbodyid').html(htmltab);

                // Example: Update a specific section with the response data
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });
    }

    function generaltab() {
        var tab = "General";
        $('#enquiry-tab').attr('aria-selected', 'false');
        $('#client-tab').attr('aria-selected', 'false');
        $('#claim-tab').attr('aria-selected', 'false');
        $('#general-tab').attr('aria-selected', 'true');

        $.ajax({
            url: '/SentClient/general?tab=' + tab,
            type: 'POST',
            data: { tab: tab },
            success: function (response) {

                console.log('Response:', response);
                $('#tbodyid').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {
                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_to + '</td>';
                    htmltab += '<td style=display:none>' + response[i].sc_toname + '</td>';
                    htmltab += '<td onclick="show(\'' + response[i].sc_year + '\', \'' + response[i].sc_toname + '\', \'' + response[i].sc_to + '\')">' + response[i].sc_year + '</td>';
                    htmltab += '<td>' + response[i].sc_count + '</td>';
                    htmltab += '</tr>';

                   // window.location.search = '?email=' + response[i].sc_to + '&client=' + response[i].sc_toname + '&tab=' + tab;
                    history.pushState(null, '', '?email=' + sc_to + '&client=' + sc_toname + '&tab=' + tab);
                }
                $('#tbodyid').html(htmltab);
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function filter() {
        $("#addfilter").modal("show");
    }
    function submitfilter() {
        $("#addfilter").modal("hide");
        var from = $('#s_from').val();
        var to = $('#s_to').val();
        var subject = $('#s_subject').val();
        var hasthewords = $('#s_hasthewords').val();
        var tab = $('#s_tab').val();
        var year = $('#yearDropdown1').val();


        $('#enquiry-tab').attr('aria-selected', 'false');
        $('#client-tab').attr('aria-selected', 'false');
        $('#claim-tab').attr('aria-selected', 'false');
        $('#general-tab').attr('aria-selected', 'false');


        $('#enquiry-tab').attr('class', 'nav-link');
        $('#client-tab').attr('class', 'nav-link');
        $('#claim-tab').attr('class', 'nav-link');
        $('#general-tab').attr('class', 'nav-link');

        $('#' + tab + '-tab').attr('aria-selected', 'true');
        $('#' + tab + '-tab').attr('class', 'nav-link active');


        if (tab == 'client') {
            tab = "insurance";
        }


        var data = {
            from: from,
            to: to,
            subject: subject,
            hasthewords: hasthewords,
            tab: tab,
            year: year,

        };

        $.ajax({
            url: '/SentClient/filter?from=' + from + 'to=' + to + 'subject' + subject + 'hasthewords=' + hasthewords + 'year=' + year + 'tab=' + tab, // Controller action URL
            type: 'POST',             // HTTP method
            data: data,      // Data to send (query parameter)
            success: function (response) {
                // Handle success - update the page dynamically
                console.log('Response:', response);
                $('#detailsTableBody').html('');
                var htmltab = '';
                for (var i = 0; i < response.length; i++) {

                    htmltab += '<tr>';
                    htmltab += '<td>' + (i + 1) + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_id + '</td>';
                    htmltab += '<td>' + response[i].sc_to + '</td>';
                    htmltab += '<td>' + response[i].sc_subject + '</td>';
                    htmltab += '<td>' + response[i].sc_sentdate + '</td>';
                    htmltab += '<td style="display:none">' + response[i].sc_attachment + '</td>';
                    //htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg('+response[i].sc_toemail+')"></i></td>';
                    htmltab += '<td><i class="fas fa-eye text-primary" onclick="inboxmsg(' + response[i].sc_id + ')"></i></td>';

                    htmltab += '</tr>';
                }
                $('#detailsTableBody').html(htmltab);

                // Example: Update a specific section with the response data
                $('#content-area').html(response);
            },
            error: function (xhr, status, error) {
                // Handle errors
                console.error('Error:', error);
            }
        });


    }
</script>


